#a{border: double red 10px;}
#b{border: solid red 10px;}
#c{border: dashed red 10px;}
#d{border: dotted red 10px;}
#e{border: inset red 10px;}
#f{border: outset red 10px;}
#g{border: groove red 10px;}
#h{border: ridge red 10px;}
#j{border: none red 10px;}
#k{border: hi red 10px;}